<a href="https://colab.research.google.com/github/Vipul251/MLProject/blob/main/Student_placement_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('students_placement.csv')

In [ ]:
df.shape

(300, 4)

In [ ]:
df.sample(5)

     cgpa   iq  profile_score  placed
257  5.54  107             76       0
86   7.31  104             43       1
127  6.65  106             45       1
254  7.34   97             51       1
180  8.04   89             48       1

In [ ]:
X = df.drop(columns=['placed'])
y = df['placed']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [ ]:
import pickle
pickle.dump(knn,open('model.pkl','wb'))